    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html"><%= pageName %></a></li>
          </ol>
          <h2><%= pageDescription %></h2>
        </div>
      </section><!-- End Breadcrumbs -->